.message-bubble
{
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #6e00ff !important; color: white !important; }